BODY
{
color:black;
background-color:white;
font-family:sans-serif;
font-size:10pt;
}

H1 
{text-align:center;}

TABLE
{
margin:1ex auto 1ex auto;
border:2px solid LightGrey;
}

TD
{
border:1px solid Grey
}

FORM
{
text-align:center;
}

DIV
{
text-align:center;
}

SELECT
{
margin:auto 2ex auto auto;
}

.mivnchead TD
{ font-family:sans-serif; font-size:10pt; color:black;
  background-color:#D8E8FF; text-align:center; 
  width:20ex;
}

.mivnctable TD
{ font-family:sans-serif; font-size:12pt; color:black;
  background-color:#D8E8FF; text-align:center; 
  padding: 15px 5px 20px 5px;
}

.mivnctable p
{ font-weight:bold; }

a.pslink
{ font-style:italic; font-weight:normal; font-size:80%; margin-left:2ex }
