*~
*.py[cod]
build/
htmlcov/
.coverage

# Created by editors
*~
\#*
\.\#*
*.swp

# Temporary files in interface
interface_data/curr_trace_indent.txt
interface_data/*.tmp

# Created by PyCharm
.idea/

#pytest
orchestrator/.cache