# Distribution / packaging
.Python
build/
c
develop-eggs/
dist/
downloads/
eggs/
.eggs/
env/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.orig
*.tmp
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Created by editors
*~
\#*
\.\#*
*.swp

# Created by PyCharm
.idea/

# eclipse/pydev
.project
.pydevproject
.settings

#Create by VSCode
.vscode

#pytest
.cache
.pytest_cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

*.tmp
*.orig
/c
/tests/data/**
test-reports/
/test_bash.sh
/python_test_out.txt

# Build folder
doc/sphinx/build
doc/sphinx/source/_sidebar.rst.inc
doc/sphinx/source/gallery.rst

# Data files
*.nc
*.nc4
*.grb
*.grib
*.RData
*.Rdata
*.Rhistory
*.rdata
*.pkl

# ESMF log files
*.ESMF_LogFile
.Rproj.user
esmvaltool.Rproj
