###############################################################################
# Example user configuration file for ESMValTool
###############################################################################
#
# Note for users:
# --------------
# Site-specific entries for different HPC centers are given at the bottom of
# this file. Comment out/replace as needed.
#
###############################################################################
#
# Note for developers:
# -------------------
# Two identical copies of this file (``ESMValTool/config-user-example.yml`` and
# ``ESMValCore/esmvalcore/config-user.yml``) exist. If you change one of it,
# make sure to apply the changes to the other.
#
###############################################################################
---

# Directory where results are stored
output_dir: ./esmvaltool_output

# Directory for storing downloaded climate data
download_dir: ~/climate_data

# Auxiliary data directory (used for some additional datasets)
auxiliary_data_dir: ~/auxiliary_data

# Run at most this many tasks in parallel [null]/1/2/3/4/..
# Set to null to use the number of available CPUs.
# If you run out of memory, try setting max_parallel_tasks to 1 and check the
# amount of memory you need for that by inspecting the file
# run/resource_usage.txt in the output directory. Using the number there you
# can increase the number of parallel tasks again to a reasonable number for
# the amount of memory available in your system.
max_parallel_tasks: null

# Disable the automatic download of missing CMIP3, CMIP5, CMIP6, CORDEX,
# and obs4MIPs data from ESGF by default. This is useful if you are working
# on a computer without an internet connection.
offline: true

# Log level of the console
log_level: info

# Exit on warning (only for NCL diagnostic scripts)? true/[false]
exit_on_warning: false

# Plot file format? [png]/pdf/ps/eps/epsi
output_file_type: png

# Remove the preproc dir if all fine
remove_preproc_dir: true

# Use netCDF compression true/[false]
compress_netcdf: false

# Save intermediary cubes in the preprocessor true/[false]
save_intermediary_cubes: false

# Path to custom config-developer file, to customise project configurations.
# See config-developer.yml for an example. Set to None to use the default
config_developer_file: null

# Get profiling information for diagnostics
# Only available for Python diagnostics
profile_diagnostic: false

# Rootpaths to the data from different projects (lists are also possible)
# these are generic entries to better allow you to enter your own
# For site-specific entries, see below
# Comment out these when using a site-specific path
rootpath:
  CMIP3: [~/cmip3_inputpath1, ~/cmip3_inputpath2]
  CMIP5: [~/cmip5_inputpath1, ~/cmip5_inputpath2]
  CMIP6: [~/cmip6_inputpath1, ~/cmip6_inputpath2]
  OBS: ~/obs_inputpath
  OBS6: ~/obs6_inputpath
  obs4MIPs: ~/obs4mips_inputpath
  ana4mips: ~/ana4mips_inputpath
  native6: ~/native6_inputpath
  RAWOBS: ~/rawobs_inputpath
  default: ~/default_inputpath

# Directory structure for input data: [default]/ESGF/BADC/DKRZ/ETHZ/etc
# See config-developer.yml for definitions.
# comment out/replace as per needed
drs:
  CMIP3: default
  CMIP5: default
  CMIP6: default
  CORDEX: default
  obs4MIPs: default

# Directory tree created by automatically downloading from ESGF
# Uncomment the lines below to locate data that has been automatically
# downloaded from ESGF (using "offline: false")
#rootpath:
#  CMIP3: ~/climate_data
#  CMIP5: ~/climate_data
#  CMIP6: ~/climate_data
#  CORDEX: ~/climate_data
#  obs4MIPs: ~/climate_data
#drs:
#  CMIP3: ESGF
#  CMIP5: ESGF
#  CMIP6: ESGF
#  CORDEX: ESGF
#  obs4MIPs: ESGF

# Site-specific entries: Jasmin
# Uncomment the lines below to locate data on JASMIN
#auxiliary_data_dir: /gws/nopw/j04/esmeval/aux_data/AUX
#rootpath:
#  CMIP6: /badc/cmip6/data/CMIP6
#  CMIP5: /badc/cmip5/data/cmip5/output1
#  CMIP3: /badc/cmip3_drs/data/cmip3/output
#  OBS: /gws/nopw/j04/esmeval/obsdata-v2
#  OBS6: /gws/nopw/j04/esmeval/obsdata-v2
#  obs4MIPs: /gws/nopw/j04/esmeval/obsdata-v2
#  ana4mips: /gws/nopw/j04/esmeval/obsdata-v2
#  CORDEX: /badc/cordex/data/CORDEX/output
#drs:
#  CMIP6: BADC
#  CMIP5: BADC
#  CMIP3: BADC
#  CORDEX: BADC
#  OBS: default
#  OBS6: default
#  obs4MIPs: default
#  ana4mips: default

# Site-specific entries: DKRZ
# Uncomment the lines below to locate data on Mistral at DKRZ
# Note: Use "offline: false" only on login and prepost nodes
#auxiliary_data_dir: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/AUX
#rootpath:
#  CMIP6: /mnt/lustre02/work/ik1017/CMIP6/data/CMIP6
#  CMIP5: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/CMIP5_DKRZ
#  CMIP3: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/CMIP3
#  CORDEX: /mnt/lustre02/work/ik1017/C3SCORDEX/data/c3s-cordex/output
#  OBS: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/OBS
#  OBS6: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/OBS
#  obs4MIPs: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/OBS
#  ana4mips: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/OBS
#  native6: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/RAWOBS
#  RAWOBS: /mnt/lustre02/work/bd0854/DATA/ESMValTool2/RAWOBS
#drs:
#  CMIP6: DKRZ
#  CMIP5: DKRZ
#  CMIP3: DKRZ
#  CORDEX: BADC
#  obs4MIPs: default
#  ana4mips: default
#  OBS: default
#  OBS6: default
#  native6: default

# Site-specific entries: ETHZ
# Uncomment the lines below to locate data at ETHZ
#rootpath:
#  CMIP6: /net/atmos/data/cmip6
#  CMIP5: /net/atmos/data/cmip5
#  CMIP3: /net/atmos/data/cmip3
#  OBS: /net/exo/landclim/PROJECTS/C3S/datadir/obsdir/
#drs:
#  CMIP6: ETHZ
#  CMIP5: ETHZ
#  CMIP3: ETHZ

# Site-specific entries: IPSL
# Uncomment the lines below to locate data on Ciclad at IPSL
#rootpath:
#  IPSLCM: /
#  CMIP5: /bdd/CMIP5/output
#  CMIP6: /bdd/CMIP6
#  CMIP3: /bdd/CMIP3
#  CORDEX: /bdd/CORDEX/output
#  obs4MIPs: /bdd/obs4MIPS/obs-CFMIP/observations
#  ana4mips: /not_yet
#  OBS: /not_yet
#  OBS6: /not_yet
#  RAWOBS: /not_yet
#drs:
#  CMIP6: DKRZ
#  CMIP5: DKRZ
#  CMIP3: IPSL
#  CORDEX: BADC
#  obs4MIPs: IPSL
#  ana4mips: default
#  OBS: not_yet
#  OBS6: not_yet
