---
name: esmvaltool
channels:
  - conda-forge

dependencies:
  # Python packages that cannot be installed from PyPI:
  - cartopy>=0.18
  - compilers
  - gdal
  - esmpy>=8.0.1
  - esmvalcore>=2.3.0,<2.4
  - iris>=3.0.1
  - matplotlib>3.3.1,<3.4  # bug in 3.3.1, issue with nc-time-axis for >=3.4
  # Non-Python dependencies
  - cdo>=1.9.7
  - eccodes!=2.19.0  # cdo dependency; something messed up with libeccodes.so
  - imagemagick
  - nco
  - ruamel.yaml
  - scikit-learn  # may hit hw-specific issue if from pypi https://github.com/scikit-learn/scikit-learn/issues/14485

  # Multi language support:
  - ncl>=6.5.0  # this should always install 6.6.0 though
  - r-base>=3.5
  # R packages needed for development
  - r-docopt
  - r-lintr
  - r-styler
  - r-yaml
  - r-udunits2  # needed by the docker build
