---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  # - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - aiohttp
  - cartopy
  - cdo >=2.3.0
  - cdsapi
  - cf-units
  - cftime
  - cmocean
  - cython
  - dask
  - distributed
  - ecmwf-api-client
  - eofs
  - esmpy >=8.6.0  # github.com/SciTools-incubator/iris-esmf-regrid/pull/342
  # - esmvalcore 2.10.*
  - fiona
  - fire
  - fsspec
  - gdal
  - iris >=3.6.1
  - iris-esmf-regrid >=0.10.0  # github.com/SciTools-incubator/iris-esmf-regrid/pull/342
  - jinja2
  - joblib
  - lime
  - mapgenerator >=1.0.5
  - matplotlib-base
  - natsort
  - nc-time-axis
  - netCDF4
  - numba
  - numpy !=1.24.3  # severe masking bug
  - openpyxl
  - packaging
  - pandas !=2.2.0,!=2.2.1,!=2.2.2 # github.com/ESMValGroup/ESMValCore/pull/2305
  - pip !=21.3
  - progressbar2
  - prov
  - psyplot >=1.5.0  # earliest Py312 build
  - psy-maps >=1.5.0  # earliest Py312 build
  # - psy-reg >=1.5.0  # earliest Py312 build; not yet at 1.5.0 (4 Apr 2024); needs support for Python 3.12
  - psy-simple >=1.5.0  # earliest Py312 build
  - pyproj >=2.1
  - pys2index  # only from conda-forge
  - python >=3.9
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio
  - requests
  - ruamel.yaml
  - scikit-image
  - scikit-learn >= 1.4.0  # github.com/ESMValGroup/ESMValTool/issues/3504
  - scipy
  - seaborn
  - seawater
  - shapely >=2
  - xarray >=0.12.0
  - xesmf >=0.7.1
  - xgboost >1.6.1  # github.com/ESMValGroup/ESMValTool/issues/2779
  - xlsxwriter
  - zarr
  # Python packages needed for unit testing
  - flake8
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - nbsphinx
  - sphinx >=6.1.3
  - pydata-sphinx-theme
  # Python packages needed for development
  - codespell
  - docformatter
  # - imagehash  # confluct with esmpy >=8.6.0 via libtiff
  - isort
  - pre-commit
  # - prospector  # needs support for Python 3.12
  - pyroma
  # - vprof not on conda-forge
  - yamllint
  - yapf

  # NCL and dependencies
  - ncl
  - cdo
  - imagemagick
  - nco

  # R and dependencies
  - cdo
  - r-base >=3.5
  - r-abind
  - r-akima
  - r-climdex.pcic
  - r-climprojdiags
  - r-docopt
  - r-dotcall64
  - r-functional
  - r-ggplot2
  - r-gridextra
  - r-lintr
  - r-logging
  - r-mapproj
  - r-maps
  - r-multiapply
  - r-ncdf4
  - r-ncdf4.helpers
  - r-pcict
  - r-plyr
  - r-rcolorbrewer
  - r-rcpp
  - r-s2dverification
  - r-snow
  - r-spei
  - r-styler
  - r-udunits2
  - r-yaml
  # R packages needed for development
  - r-git2r  # dependency of lintr
  - r-lintr
  - r-styler

  # Julia (dependencies installed by separate script)
  - julia
