---

name: esmvaltool
channels:
  - conda-forge

dependencies:
  # Python packages that cannot be installed from PyPI:
  - iris
  - matplotlib<3  # Can be installed from PyPI, but is a dependency of iris and should be pinned.
  - python-stratify
  - esmpy
  - xarray  # Can be installed from PyPI, but here to get a consistent set of depencies with iris.
  # Non-Python dependencies
  - graphviz
  - cdo=1.9.3

  # Multi language support:
  - ncl
  - jasper!=1.900.31  # pinned NCL dependency
  - r-base
  - r-rcpp
  - r-curl
  - r-igraph
  - r-xml
  - libunwind  #  specifically for Python3.7+
  - julia=0.6.1
  - hdf5
