---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  # - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - pip!=21.3
  - python>=3.8
  - cartopy
  - cdo>=1.9.7
  - cdsapi
  - cf-units >=3.0.0,<3.1.0,!=3.0.1.post0  # see https://github.com/ESMValGroup/ESMValCore/issues/1655
  - cftime
  - cmocean
  - cython
  - dask
  - ecmwf-api-client
  - eofs
  - esmpy
  - esmvalcore 2.6.*
  - fiona
  - fire
  - gdal
  - iris>=3.1.0
  - jinja2
  - joblib
  - lime
  - mapgenerator>=1.0.5
  - matplotlib-base
  - natsort
  - nc-time-axis
  - netCDF4
  - numpy
  - openpyxl
  - pandas
  - progressbar2
  - prov
  - psyplot
  - psy-maps
  - psy-reg
  - psy-simple
  - pyproj>=2.1
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio
  - requests
  - ruamel.yaml
  - scikit-image
  - scikit-learn
  - scipy
  - seaborn
  - seawater
  - shapely
  - xarray>=0.12.0
  - xesmf==0.3.0
  - xgboost
  - xlsxwriter
  # Python packages needed for testing
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-flake8
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm>=0.2.2
  - sphinx>=5
  - sphinx_rtd_theme
  # Python packages needed for development
  - codespell
  - docformatter
  - isort
  - pre-commit
  - prospector
  - pyroma
  # - vprof not on conda-forge
  - yamllint
  - yapf

  # NCL and dependencies
  - ncl
  - cdo
  - imagemagick
  - nco

  # R and dependencies
  - cdo
  - r-base >=3.5
  - r-abind
  - r-akima <=0.6-2.3  # see https://github.com/ESMValGroup/ESMValTool/issues/2695
  - r-climdex.pcic
  - r-climprojdiags
  - r-docopt
  - r-dotcall64
  - r-functional
  - r-ggplot2
  - r-gridextra
  - r-lintr
  - r-logging
  - r-mapproj
  - r-maps
  - r-multiapply
  - r-ncdf4
  - r-ncdf4.helpers
  - r-pcict
  - r-plyr
  - r-rcolorbrewer
  - r-rcpp
  - r-s2dverification
  - r-snow
  - r-spei
  - r-styler
  - r-udunits2
  - r-yaml
  # R packages needed for development
  - r-git2r  # dependency of lintr
  - r-lintr
  - r-styler

  # Julia (dependencies installed by separate script)
  - julia
