---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - aiohttp
  - arviz
  - cartopy
  - cdo >=2.3.0
  - cdsapi
  - cf-units
  - cfgrib
  - cftime
  - cmocean
  - cython
  - dask !=2024.8.0  # https://github.com/dask/dask/issues/11296
  - distributed
  - ecmwf-api-client
  - eofs
  - esmpy
  - esmvalcore ==2.14.0rc1
  - fiona
  - fire
  - fsspec
  - gdal >=3.9.0
  - ipython
  - iris >=3.11
  - iris-esmf-regrid >=0.10.0  # github.com/SciTools-incubator/iris-esmf-regrid/pull/342
  - jinja2
  - joblib
  - lime
  - mapgenerator >=1.0.5
  - matplotlib-base
  - natsort
  - nc-time-axis
  - netCDF4
  - numba
  - numpy !=1.24.3  # severe masking bug
  - openpyxl
  - packaging
  - pandas
  - pip !=21.3
  - progressbar2
  - prov
  - pyproj >=2.1
  - pys2index >=0.1.5 # only from conda-forge; https://github.com/ESMValGroup/ESMValTool/pull/3792
  - python >=3.12,<3.14
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio >=1.3.10
  - requests
  - scikit-image
  - scikit-learn >=1.4.0  # github.com/ESMValGroup/ESMValTool/issues/3504
  - scipy
  - seaborn
  - seawater
  - shapely >=2.0.2
  - xarray >=0.12.0
  - xesmf >=0.7.1
  - xgboost >1.6.1  # github.com/ESMValGroup/ESMValTool/issues/2779
  - xlsxwriter
  - zarr
  # Python packages needed for unit testing
  - pre-commit
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - myst-nb
  - sphinx >=6.1.3,<9  # github.com/ESMValGroup/ESMValTool/issues/4316
  - pydata-sphinx-theme
  # Python packages needed for development
  - codespell ==2.3.0
  - imagehash
  - ruff == 0.14.5 # keep in sync with .pre-commit-config.yaml
  # - vprof not on conda-forge
  - yamllint ==1.35.1
