---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  # - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - pip!=21.3
  # Python packages that cannot be installed from PyPI:
  - cartopy
  - compilers
  - gdal
  - esmpy
  - esmvalcore
  - matplotlib-base
  # Non-Python dependencies
  - cdo
  - imagemagick
  - nco
  - python<3.10  # teething issues with python=3.10; see https://github.com/ESMValGroup/ESMValTool/issues/2476
  - python-cdo
  - ruamel.yaml
  # may hit hw-specific issue if from pypi
  # https://github.com/scikit-learn/scikit-learn/issues/14485
  - scikit-learn
  - xgboost
