---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  # - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - aiohttp
  - cartopy <0.24  # https://github.com/ESMValGroup/ESMValTool/issues/3767
  - cdo >=2.3.0
  - cdsapi
  - cf-units
  - cftime
  - cmocean
  - cython
  - dask
  - distributed
  - ecmwf-api-client
  - eofs
  - esmpy !=8.1.0,<8.6.0  # https://github.com/SciTools-incubator/iris-esmf-regrid/pull/342#issuecomment-2092921514
  - esmvalcore 2.11.*
  - fiona
  - fsspec
  - fire
  - gdal
  - importlib_metadata <8  # required for Python < 3.10
  - iris >=3.6.1
  - iris-esmf-regrid >=0.7.0
  - jinja2
  - joblib
  - lime
  - mapgenerator >=1.0.5
  - matplotlib-base <3.9.0
  - natsort
  - nc-time-axis
  - netCDF4
  - numba
  - numpy !=1.24.3  # severe masking bug
  - openpyxl
  - packaging
  - pandas !=2.2.0,!=2.2.1,!=2.2.2 # github.com/ESMValGroup/ESMValCore/pull/2305
  - pip !=21.3
  - progressbar2
  - prov
  - psyplot
  - psy-maps
  - psy-reg
  - psy-simple
  - pyproj >=2.1
  - pys2index  # only from conda-forge
  - python >=3.9
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio
  - requests
  - ruamel.yaml
  - scikit-image
  - scikit-learn >= 1.4.0  # github.com/ESMValGroup/ESMValTool/issues/3504
  - scipy
  - seaborn
  - seawater
  - shapely >=2
  - xarray >=0.12.0
  - xesmf >=0.7.1
  - xgboost >1.6.1  # github.com/ESMValGroup/ESMValTool/issues/2779
  - xlsxwriter
  - zarr
  # Python packages needed for unit testing
  - flake8 <7  # code style not updated to major release 7
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - nbsphinx
  - sphinx >=6.1.3
  - pydata-sphinx-theme
  # Python packages needed for development
  - codespell
  - docformatter
  - imagehash
  - isort
  - pre-commit
  - prospector
  - pyroma
  # - vprof not on conda-forge
  - yamllint
  - yapf
