---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  # - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - aiohttp
  - cartopy
  - cdo >=2.3.0
  - cdsapi
  - cf-units
  - cfgrib
  - cftime
  - cmocean
  - curl <8.10  # https://github.com/ESMValGroup/ESMValTool/issues/3758
  - cython
  - dask !=2024.8.0  # https://github.com/dask/dask/issues/11296
  - distributed
  - ecmwf-api-client
  - eofs
  - esmpy
  - esmvalcore 2.11.*
  - fiona
  - fire
  - fsspec
  - gdal >=3.9.0
  - importlib_metadata <8  # https://github.com/ESMValGroup/ESMValTool/issues/3699 only for Python 3.10/11 and esmpy<8.6
  - iris >=3.11
  - iris-esmf-regrid >=0.10.0  # github.com/SciTools-incubator/iris-esmf-regrid/pull/342
  - jinja2
  - joblib
  - lime
  - mapgenerator >=1.0.5
  - matplotlib-base
  - natsort
  - nc-time-axis
  - netCDF4
  - numba
  - numpy !=1.24.3  # severe masking bug
  - openpyxl
  - packaging
  - pandas==2.1.4  # unpin when ESMValCore released with https://github.com/ESMValGroup/ESMValCore/pull/2529
  - pip !=21.3
  - progressbar2
  - prov
  - psyplot >=1.5.0
  - psy-maps >=1.5.0
  - psy-reg >=1.5.0
  - psy-simple >=1.5.0
  - pyproj >=2.1
  - pys2index  # only from conda-forge
  - python >=3.10,<3.13
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio >=1.3.10
  - requests
  - ruamel.yaml
  - scikit-image
  - scikit-learn >= 1.4.0  # github.com/ESMValGroup/ESMValTool/issues/3504
  - scipy
  - seaborn
  - seawater
  - shapely >=2.0.2
  - xarray >=0.12.0
  - xesmf >=0.7.1
  - xgboost >1.6.1  # github.com/ESMValGroup/ESMValTool/issues/2779
  - xlsxwriter
  - zarr
  # Python packages needed for unit testing
  - flake8 >=6
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - nbsphinx
  - sphinx >=6.1.3
  - pydata-sphinx-theme
  # Python packages needed for development
  - codespell ==2.3.0
  - docformatter ==1.7.5
  - imagehash
  - isort ==5.13.2
  - pre-commit
  - prospector >=1.12  # earliest support for Python 3.12
  - pyroma
  # - vprof not on conda-forge
  - yamllint ==1.35.1
  - yapf ==0.32.0

  # NCL and dependencies
  - ncl >=6.6.2
  - cdo
  - imagemagick
  - nco

  # R and dependencies
  - cdo
  - r-base >=3.5,<4.3.0
  - r-abind
  - r-akima
  - r-climdex.pcic
  - r-climprojdiags
  - r-docopt
  - r-dotcall64
  - r-functional
  - r-ggplot2
  - r-gridextra
  - r-logging
  - r-mapproj
  - r-maps
  - r-multiapply
  - r-ncdf4
  - r-ncdf4.helpers
  - r-pcict
  - r-plyr
  - r-rcolorbrewer
  - r-rcpp
  - r-s2dverification
  - r-snow
  - r-spei
  - r-udunits2
  - r-yaml
  # R packages needed for development
  - r-git2r  # dependency of lintr
  - r-lintr ==3.1.2
  - r-styler ==1.10.3

  # Julia (dependencies installed by separate script)
  - julia
