---
name: esmvaltool
channels:
  - conda-forge
  - esmvalgroup

dependencies:
  # Python packages that cannot be installed from PyPI:
  - gdal
  - esmvalcore>=2.0.0b3,<2.1
  # Non-Python dependencies
  - graphviz
  - cdo
  - imagemagick
  - nco

  # Multi language support:
  - python>=3.6
  - libunwind  # Needed for Python3.7+
  - tiledb=1.6.0  # Needed by the new ncl=6.6.2; evolved to 1.6.2 but ncl 6.6.2 still needs libtiledb1.6.0.so
  - ncl>=6.5.0
  - r-base
  - r-curl  # Dependency of lintr, but fails to compile because it cannot find libcurl installed from conda.
  - r-udunits2  # Fails to compile because it cannot find udunits2 installed from conda.
  # - julia>=1.0.0  # The Julia package on conda is apparently broken
  - libblas=3.8.0=12_openblas  # Does build 13_openblas not seem to work with R requirements
