---
name: esmvaltool
channels:
  # The release candidate channel should only be activated
  # during the rc phase right before the next release of the
  # ESMValCore.
  - conda-forge/label/esmvalcore_rc
  - conda-forge
  - nodefaults

dependencies:
  - pip!=21.3
  - python>=3.8
  - aiohttp
  - cartopy
  - cdo>=1.9.7
  - cdsapi
  - cf-units
  - cftime
  - cmocean
  - cython
  - dask
  - ecmwf-api-client
  - eofs
  - esmpy
  # grab 2.8.1rc1 for now
  - esmvalcore 2.8.*
  - fiona
  - fire
  - gdal
  - iris>=3.1.0
  - iris-esmf-regrid
  - jinja2
  - joblib
  - lime
  - mapgenerator>=1.0.5
  - matplotlib-base
  - natsort
  - nc-time-axis
  - netCDF4
  - numpy
  - packaging
  - openpyxl
  - pandas
  - progressbar2
  - prov
  - psyplot
  - psy-maps
  - psy-reg
  - psy-simple
  - pyproj>=2.1
  - python-cdo
  - python-dateutil
  - pyyaml
  - rasterio
  - requests
  - ruamel.yaml
  - scikit-image
  - scikit-learn
  - scipy
  - seaborn
  - seawater
  - shapely
  - xarray>=0.12.0
  - xesmf==0.3.0
  - xgboost>1.6.1  # github.com/ESMValGroup/ESMValTool/issues/2779
  - xlsxwriter
  - zarr
  # Python packages needed for testing
  - flake8
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Python packages needed for building docs
  - autodocsumm>=0.2.2
  - nbsphinx
  # sphinx >=6 can not be installed because
  # sphinx_rtd_theme are pinning docutils<0.19 which is the only
  # practical version that supports python=3.11; see
  # github.com/readthedocs/sphinx_rtd_theme/issues/1323
  # github.com/conda-forge/sphinx_rtd_theme-feedstock/issues/28
  - sphinx  # >=6.1.3
  - sphinx_rtd_theme
  # Python packages needed for development
  - codespell
  - docformatter
  - isort
  - pre-commit
  - prospector
  - pyroma
  # - vprof not on conda-forge
  - yamllint
  - yapf
