#!jinja2

{% set recipes = [
   "recipe_albedolandcover.yml",
   "recipe_anav13jclim.yml",
   "recipe_arctic_ocean.yml",
   "recipe_autoassess_landsurface_permafrost.yml",
   "recipe_autoassess_landsurface_soilmoisture.yml",
   "recipe_autoassess_landsurface_surfrad.yml",
   "recipe_autoassess_radiation_rms_Amon_all.yml",
   "recipe_autoassess_radiation_rms_Amon_obs.yml",
   "recipe_autoassess_radiation_rms_cfMon_all.yml",
   "recipe_autoassess_stratosphere.yml",
   "recipe_bock20jgr.yml",
   "recipe_capacity_factor.yml",
   "recipe_carvalhais14nat.yml",
   "recipe_climwip_brunner20esd.yml",
   "recipe_climwip_test_basic.yml",
   "recipe_climwip_test_performance_sigma.yml",
   "recipe_clouds_bias.yml",
   "recipe_clouds_ipcc.yml",
   "recipe_collins13ipcc.yml",
   "recipe_combined_indices.yml",
   "recipe_consecdrydays.yml",
   "recipe_cox18nature.yml",
   "recipe_cvdp.yml",
   "recipe_deangelis15nat.yml",
   "recipe_diurnal_temperature_index.yml",
   "recipe_eady_growth_rate.yml",
   "recipe_ecs.yml",
   "recipe_ecs_constraints.yml",
   "recipe_ecs_scatter.yml",
   "recipe_ensclus.yml",
   "recipe_extreme_events.yml",
   "recipe_extreme_index.yml",
   "recipe_eyring06jgr.yml",
   "recipe_eyring13jgr_12.yml",
   "recipe_flato13ipcc.yml",
   "recipe_gier2020bg.yml",
   "recipe_heatwaves_coldwaves.yml",
   "recipe_hyint.yml",
   "recipe_hyint_extreme_events.yml",
   "recipe_impact.yml",
   "recipe_kcs.yml",
   "recipe_landcover.yml",
   "recipe_lauer13jclim.yml",
   "recipe_li17natcc.yml",
   "recipe_martin18grl.yml",
   "recipe_meehl20sciadv.yml",
   "recipe_miles_block.yml",
   "recipe_miles_eof.yml",
   "recipe_miles_regimes.yml",
   "recipe_modes_of_variability.yml",
   "recipe_multimodel_products.yml",
   "recipe_ocean_Landschuetzer2016.yml",
   "recipe_ocean_amoc.yml",
   "recipe_ocean_bgc.yml",
   "recipe_ocean_example.yml",
   "recipe_ocean_ice_extent.yml",
   "recipe_ocean_multimap.yml",
   "recipe_ocean_quadmap.yml",
   "recipe_ocean_scalar_fields.yml",
   "recipe_perfmetrics_CMIP5.yml",
   "recipe_perfmetrics_CMIP5_4cds.yml",
   "recipe_perfmetrics_land_CMIP5.yml",
   "recipe_quantilebias.yml",
   "recipe_runoff_et.yml",
   "recipe_russell18jgr.yml",
   "recipe_schlund20esd.yml",
   "recipe_seaice.yml",
   "recipe_seaice_drift.yml",
   "recipe_seaice_feedback.yml",
   "recipe_shapeselect.yml",
   "recipe_smpi.yml",
   "recipe_smpi_4cds.yml",
   "recipe_snowalbedo.yml",
   "recipe_spei.yml",
   "recipe_tcr.yml",
   "recipe_thermodyn_diagtool.yml",
   "recipe_toymodel.yml",
   "recipe_validation.yml",
   "recipe_validation_CMIP6.yml",
   "recipe_williams09climdyn_CREM.yml",
   "recipe_zmnam.yml",
   "cmorizers/recipe_era5-land.yml",
   "cmorizers/recipe_era5.yml",
   "examples/recipe_check_obs.yml",
   "examples/recipe_concatenate_exps.yml",
   "examples/recipe_correlation.yml",
   "examples/recipe_extract_shape.yml",
   "examples/recipe_my_personal_diagnostic.yml",
   "examples/recipe_ncl.yml",
   "examples/recipe_preprocessor_derive_test.yml",
   "examples/recipe_preprocessor_test.yml",
   "examples/recipe_python.yml",
   "examples/recipe_r.yml",
   "examples/recipe_variable_groups.yml",
   "hydrology/recipe_globwat.yml",
   "hydrology/recipe_hydro_forcing.yml",
   "hydrology/recipe_hype.yml",
   "hydrology/recipe_lisflood.yml",
   "hydrology/recipe_marrmot.yml",
   "hydrology/recipe_pcrglobwb.yml",
   "hydrology/recipe_wflow.yml",
] %}
