#!/bin/bash
# Run job: bsub < job_jasmin.bsub

#BSUB -q par-single
#BSUB -o %J.stdout.txt
#BSUB -e %J.stderr.txt
#BSUB -W 0:30
#BSUB -R "rusage[mem=20000]"
#BSUB -M 30000
#BSUB -n 16

# User configuration file
root=/group_workspaces/jasmin2/cp4cds1/magic-test
config=$root/config-user.yml

. $root/conda/etc/profile.d/conda.sh
conda activate magic_demo

esmvaltool -c $config {recipe}
