#!/bin/bash
#BSUB -q par-single
#BSUB -o %J.stdout.txt
#BSUB -e %J.stderr.txt
#BSUB -W 0:30
#BSUB -R "rusage[mem=10000]"
#BSUB -M 15000
#BSUB -n 16

set -eo pipefail
module load contrib/gnu/gcc/8.2.0

. conda/etc/profile.d/conda.sh
conda activate esmvaltool

esmvaltool -c {config} {recipe}
