# This file contains the recipes that are run by the RTW on DKRZ.
# The "How to add a recipe to the RTW" documentation provides more information.
#
# KEYS         VALUES
# ----         ------
# recipe_path  The path to the recipe. Recipe paths are specified relative to
#              esmvaltool/recipes. For recipes in subdirectories, '--' stands
#              for '/' since the latter is an illegal char.
# actual       A note of the recipe's actual resource usage. From the
#              successful run of the recipe on the compute server on DKRZ.
# max_time     The maximum amount of time the recipe has to complete. Use the
#              Cylc ISO8601 duration format.
# max_memory   The memory allocated to running the recipe. Default units are
#              megabytes. Different units can be specified using the suffix
#              [K|M|G|T].

{% set FAST_RECIPES =
    [
        {
            "recipe_path": "clouds--recipe_clouds_bias",
            "actual": "1m00s, 5.7 GB on 2025-01-30",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "clouds--recipe_clouds_ipcc",
            "actual": "1m59s, 6.4 GB on 2025-01-30",
            "max_time": "PT4M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "clouds--recipe_lauer13jclim",
            "actual": "3m17s, 7.9 GB on 2025-01-31",
            "max_time": "PT10M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "clouds--recipe_lauer22jclim_fig9-11ab_scatter",
            "actual": "8m18s, 7.4 GB on 2025-01-31",
            "max_time": "PT15M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "clouds--recipe_lauer22jclim_fig9-11c_pdf",
            "actual": "1m24s, 3.9 GB on 2025-01-30",
            "max_time": "PT5M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "cmorizers--recipe_era5-land",
            "actual": "0m08s, 2.6 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_concatenate_exps",
            "actual": "0m07s, 1.7 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_correlation",
            "actual": "0m19s, 2.1 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_decadal",
            "actual": "1m29s, 3.3 GB on 2025-01-30",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_extract_shape",
            "actual": "0m05s, 1.6 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_my_personal_diagnostic",
            "actual": "0m20s, 2.3 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_ncl",
            "actual": "0m05s, 1.3 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_preprocessor_derive_test",
            "actual": "1m45s, 3.4 GB on 2025-02-03",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_preprocessor_test",
            "actual": "0m42s, 4.5 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_python",
            "actual": "0m10s, 2.5 GB on 2025-04-07",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_r",
            "actual": "0m04s, 1.1 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "examples--recipe_variable_groups",
            "actual": "0m06s, 1.8 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "hydrology--recipe_globwat",
            "actual": "3m32s, 5.4 GB on 2025-01-30",
            "max_time": "PT10M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "hydrology--recipe_hydro_forcing",
            "actual": "0m24s, 4.4 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "hydrology--recipe_hype",
            "actual": "1m01s, 8.0 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "hydrology--recipe_lisflood",
            "actual": "0m18s, 6.7 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "hydrology--recipe_marrmot",
            "actual": "4m29s, 11.3 GB on 2025-01-31",
            "max_time": "PT10M",
            "max_memory": "20G",
        },
        {
            "recipe_path": "hydrology--recipe_pcrglobwb",
            "actual": "1m23s, 7.6 GB on 2025-02-03",
            "max_time": "PT3M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "hydrology--recipe_wflow",
            "actual": "2m04s, 11.7 GB on 2025-02-034",
            "max_time": "PT4M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "ipccwg1ar5ch9--recipe_flato13ipcc_figure_924",
            "actual": "3m39s, 5.1 GB on 2025-01-30",
            "max_time": "PT5M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "ipccwg1ar5ch9--recipe_flato13ipcc_figure_945a",
            "actual": "1m52s, 3.6 GB on 2025-01-30",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "ipccwg1ar5ch9--recipe_flato13ipcc_figure_98",
            "actual": "1m16s, 6.0 GB on 2025-01-30",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "ipccwg1ar5ch9--recipe_flato13ipcc_figures_92_95",
            "actual": "1m56s, 18.0 GB on 2025-01-30",
            "max_time": "PT4M",
            "max_memory": "50G",
        },
       {
            "recipe_path": "ipccwg1ar5ch9--recipe_weigel21gmd_figures_13_16",
            "actual": "5m59s, 27 GB on 2025-02-04",
            "max_time": "PT8M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "model_evaluation--recipe_model_evaluation_clouds_clim",
            "actual": "4m07s, 41.5 GB on 2025-01-31",
            "max_time": "PT6M",
            "max_memory": "64G",
        },
        {
            "recipe_path": "model_evaluation--recipe_model_evaluation_clouds_cycles",
            "actual": "1m54s, 4.1 GB on 2025-01-31",
            "max_time": "PT10M",
            "max_memory": "20G",
        },
        {
            "recipe_path": "model_evaluation--recipe_model_evaluation_precip_zonal",
            "actual": "0m30s, 3.5 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "monitor--recipe_monitor_with_refs",
            "actual": "1m20s, 5.1 GB on 2025-01-31",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_albedolandcover",
            "actual": "0m20s, 3.3 GB on 2025-04-07",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_aod_aeronet_assess",
            "actual": "0m49s, 3 GB on 2025-02-05",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_autoassess_landsurface_permafrost",
            "actual": "0m59s, 3.3 GB on 2025-02-05",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_autoassess_landsurface_soilmoisture",
            "actual": "0m18s, 3.4 GB on 2025-04-07",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_autoassess_landsurface_surfrad",
            "actual": "0m20s, 2.4 GB on 2025-02-05",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_capacity_factor",
            "actual": "0m34s, 2.1 GB on 2025-01-29",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_carvalhais14nat",
            "actual": "3m14s, 41.6 GB on 2025-01-29",
            "max_time": "PT5M",
            "max_memory": "64G",
        },
        {
            "recipe_path": "recipe_climwip_test_basic",
            "actual": "1m05s, 4.7 GB on 2025-01-29",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_climwip_test_performance_sigma",
            "actual": "7m32s, 8.4 GB on 2025-01-29",
            "max_time": "PT15M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_cmug_h2o",
            "actual": "9m27s, 15.8 GB on 2025-01-30",
            "max_time": "PT15M",
            "max_memory": "40G",
        },
        {
            "recipe_path": "recipe_cox18nature",
            "actual": "0m54s, 2.5 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_cvdp",
            "actual": "6m30s, 2.9 GB on 2025-01-30",
            "max_time": "PT8M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_diurnal_temperature_index",
            "actual": "1m24s, 2.7 GB on 2025-01-30",
            "max_time": "PT4M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ecs_scatter",
            "actual": "08m18s, 9.9 GB on 2025-01-30",
            "max_time": "PT15M",
            "max_memory": "20G",
        },
        {
            "recipe_path": "recipe_esacci_lst",
            "actual": "0m39s, 2.4 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_esacci_oc",
            "actual": "2m07s, 7.9 GB on 2025-01-30",
            "max_time": "PT5M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_gier2020bg",
            "actual": "8m00s, 39.9 GB on 2025-01-30",
            "max_time": "PT10M",
            "max_memory": "50G",
        },
        {
            "recipe_path": "recipe_heatwaves_coldwaves",
            "actual": "0m40s, 1.9 GB on 2025-04-07",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_hyint_extreme_events",
            "actual": "3m17s, 5.1 GB on 2025-01-30",
            "max_time": "PT6M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_iht_toa",
            "actual": "1m54s, 2.7 GB on 2025-01-31",
            "max_time": "PT4M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_kcs",
            "actual": "2m22s, 7.4 GB on 2025-01-31",
            "max_time": "PT4M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_landcover",
            "actual": "0m38s, 2.5 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_li17natcc",
            "actual": "5m29s, 4.4 GB on 2025-01-31",
            "max_time": "PT7M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_modes_of_variability",
            "actual": "0m29s, 2.9 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_multimodel_products",
            "actual": "0m14s, 2.5 GB on 2025-01-31",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ocean_Landschuetzer2016",
            "actual": "0m20s, 3.2 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ocean_bgc",
            "actual": "1m12s, 6.2 GB on 2025-02-03",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ocean_ice_extent",
            "actual": "0m39s, 3.8 GB on 2025-01-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ocean_quadmap",
            "actual": "0m12s, 1.7 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_ocean_scalar_fields",
            "actual": "4m40s, 1.5 GB on 2025-02-03",
            "max_time": "PT6M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_portrait_CMIP",
            "actual": "2m24s, 4.1 GB on 2025-02-03",
            "max_time": "PT4M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_psyplot",
            "actual": "0m10s, 1.7 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_pv_capacity_factor",
            "actual": "6m01s, 4.5 GB on 2025-02-03",
            "max_time": "PT8M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_quantilebias",
            "actual": "0m06s, 1.3 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_radiation_budget",
            "actual": "0m19s, 2.6 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_runoff_et",
            "actual": "0m10s, 2.3 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_seaborn",
            "actual": "1m21s, 8.3 GB on 2025-02-03",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_seaice",
            "actual": "6m21s, 6.2 GB on 2025-02-03",
            "max_time": "PT10M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_seaice_feedback",
            "actual": "4m47s, 2.7 GB on 2025-02-03",
            "max_time": "PT6M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_shapeselect",
            "actual": "0m08s, 1.8 GB on 2025-02-03",
            "max_time": "PT10M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_snowalbedo",
            "actual": "3m04s, 4.3 GB on 2025-02-03",
            "max_time": "PT5M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_tcr",
            "actual": "6m33s, 5.8 GB on 2025-02-03",
            "max_time": "PT8M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_toymodel",
            "actual": "0m02s, 1.1 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_validation",
            "actual": "0m25s, 3.6 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "recipe_validation_CMIP6",
            "actual": "0m19s, 6.8 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "testing--recipe_deangelis15nat_fig1_fast",
            "actual": "0m08s, 2.2 GB on 2025-01-30",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
        {
            "recipe_path": "testing--recipe_python_for_CI",
            "actual": "0m09s, 2.4 GB on 2025-02-03",
            "max_time": "PT2M",
            "max_memory": "15G",
        },
    ]
%}

# 'recipe_ensclus' should be in fast: is in medium temporarily to avoid empty variable.
{% set MEDIUM_RECIPES =
    [
        {
            "recipe_path": "recipe_ensclus",
            "actual": "1m17s, 2.7 GB on 2025-04-07",
            "max_time": "PT3M",
            "max_memory": "15G",
        },
    ]
%}
