autodocsumm>=0.2.2
cdo
cdsapi
cmocean
cython
dask[array]
ecmwf-api-client
eofs
fiona
jinja2
joblib
lime
matplotlib
nc-time-axis
netCDF4
numpy
pandas
pillow
pyproj
pyyaml
scikit-learn
seaborn
seawater
shapely
sphinx>2
xarray
xgboost
xlsxwriter
yamale
