body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	font-size:90%;
	font-family: Tahoma, Geneva, sans-serif; font-family: "Arial Black", Gadget, sans-serif;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	font-variant: small-caps;
	position:fixed;
	border-bottom:1px solid #000;
	background:#fff;
}

#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}

#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}

#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:blink;
	position:relative;
	left:15px;
	line-height:1.3em;
}

#header ul li a:hover {
	background:#445;
	color:#fff;
}

#header ul li a.active {
	color:#fff;
	background:#335;
	font-weight:bold;
}

#header ul li a span {
	display:block;
}

/* Content styles */
#content {
	 max-width: 1000px;
    min-width:700px;
    margin:0  auto;
    padding: 200px 20px 130px;
}}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}

a {
	color:#369;
	margin-left: auto;
   margin-right: auto;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
h2 {
	font-size: 1.1em
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#ads img {
	padding-top:10px;
}

/* column container */
.colmask {
	margin-top: 82px;
	position:static;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	/*position:relative;*/
}
.col1,
.col2,
.col3 {
	float:left;
	/*position:relative;*/
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}

/* 3 Column settings */
.threecol {
	background:#eee;		/* right column background colour */
}
.threecol .colmid {
	width:96%;
	background:#fff;
}
.threecol .colleft {
	width:4%;
	background:#eee;
}

.threecol .col1 {
	width:2300%;
	margin-left: 150%;
	/*white-space: pre-wrap;*/
}
.threecol .col2 {
	width:10%;			/* Width of left column content (column width minus padding on either side);2 */
	left:10%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding);10 */
	font-size:0.1%;
	white-space: pre-wrap;
}
.threecol .col3 {
	width:10%;			/* Width of right column content (column width minus padding on either side); 2 */
	left:10%;			/* Please make note of the brackets here: ; 112
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	font-size:0.1%;
	white-space: pre-wrap; 
	margin:0 0 0 0;
}

.console {
  font-family:"Lucida Console", Monaco, monospace;
  color: #CCCCCC;
  background: #000000;
  border: 5px double #CCCCCC;
  padding: 10px;
  font-size:70%;
  white-space: pre-wrap;
  /*font-weight: bold;*/
  /*line-height:0.8*/
}

.internal {
    width: 100%;
    height: 100%;
}

.pdfcontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}